.header {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    color: #4F42B5;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 7%;
}

.header .header-left {
    display: flex;
    align-items: center;
}

.header .header-left a {
    color: #4F42B5;
    font-size: 18px;
    text-decoration: none;
}

.header .header-left a:hover {
    text-decoration: underline;
}